nav{
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
}